@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #adaaaa;
    padding: 10px;
    font-size: x-large;
}

.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo img {
    height: 90px;
}

.navbar-menu {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-menu-list li {
    display: inline-block;
    margin-right: 70px;
    padding-left: 40px;
}

.navbar-menu-list li:last-child {
    margin-right: 0;
}

.navbar-menu-list li a {
    text-decoration: none;
    color: #f0ecce; /* текст в navbar на постоянке */
}

.navbar-menu-list li a:hover {
    color: white; /* при наведении на текст в navbar */
}

.filter-panel {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.voenka {
    margin-left: 20px;
}

.label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.filter-button {
    flex: 1;
    background-color: #4caf50;
    color: white;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.filter-button-admin {
    flex: 1;
    background-color: #2160ff;
    color: white;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.filter-button:hover {
    background-color: #45a049;
}

.query-result {
    margin-top: 10px;
}

.university-list {
    display: flex;
    flex-wrap: wrap;
}

.university-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
}

.info-block {
    margin-top: 10px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-left: 8px;
}

.subjects {
    margin-top: 10px;
}

.university-name {
    font-weight: bold;
}

.university-type {
    color: #555;
    font-size: 14px;
}

.subjectList {
    margin-left: 30px;
}

.home {
    margin: 15px;
}
